.header {
  position: relative;
  width: 1550px;
  height: 821px;
  margin: 0 auto;
  background-color: #1a1c0f;
  background: url("../img/header-back-3.png") no-repeat, #1a1c0f;
}

.header__link {
  position: relative;
  display: block;
  width: 153px;
  margin: 0 auto;
  padding-top: 120px;
  text-decoration: none;
  font-size: 0;
  transition: 25s;

  &:hover::before {
    content: "";
    position: absolute;
    padding-top: 121px;
    width: 153px;
    height: 162px;
    background: url("../img/logo-texture.png") no-repeat;
    opacity: 0.8;
  }
}

.header__inner {
  margin-top: 145px;
  text-align: center;
  color: #ffffff;
}

.header__title {
  position: relative;
	text-align: center;
  font-size: 60px;
  line-height: 60px;

  &::before,
  &::after {
    content: "";
	  position: relative;
	  display: inline-block;
	  width: 17%;
	  vertical-align: middle;
	  border-bottom: 2px solid #cdb378;
  }

  &::before {
    left: -.5em;
  	margin: 0 0 0 -50%;
  }

  &::after {
    left: .5em;
  	margin: 0 -50% 0 0;
  }
}

.header__text {
  font-size: 36px;
  line-height: 60px;
}

.header__cite {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  color: #cdb378;
}

.header__span {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  color: #cdb378;
}

.header__span--arrow {
  display: block;
  margin: 0;
  text-align: center;
  color: #cdb378;
  cursor: pointer;
   transition: 3s;

   &:hover {
     color: red;
   }
}
